.card{
  min-height: fit-content;
} 
.photo {
  object-fit: cover;
  width: 100%;
  border-radius: var(--primary-br);
  padding: var(--padding-s);
} 
.photo:hover {
  cursor: zoom-in;
  transform: rotate(0deg) scale(1.1) translateZ(4px); 
  transition: .5s all ease;
  filter: brightness(115%);
}
.card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: var(--margin-s);
}
.profile {
  border-radius: 50%;
}