footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding-s);
  background-color: var(--color-3);
  margin-top: var(--margin-section);
  height: 6%;
}
footer  img {
  height: 40px;
}